.background {
    background-image: url("../images/map-of-the-world.jpg");
    max-height: 1210px;
    padding: 40px;
   
    background-position: center;
    background-size: cover;
    background-attachment: local;
}